.pageAbout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.sidebar {
  width: 20vw;
}
.content {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.267);
}
.jumbotron {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.jumbotron h1 {
  color: white;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.aboutmenu {
  background-color: rgb(255, 255, 255);
  width: 85%;
  height: 370px;
  border-radius: 10px;
  margin-top: -60px;
  padding: 30px 50px;
}
