.pageHome {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
.sidebar {
  width: 20vw;
  /* background-color: chartreuse; */
}
.content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 30px;
  background-color: rgb(226, 226, 226);
}
.table {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin-left: 40px;
  width: 950px;
}
.Input {
  background-color: aqua;
}
